    <link rel="stylesheet" href="components/sidebar/aside.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<aside>
    <div class="toggle-btn" id="aside-toggle">
        <span class="arrow">❮</span>
    </div>
    <h4 class="head">Bits Per Logic</h4>
    <ul class="nav">
        <li><a href="#/" data-label="Home"><abbr title="Home" class="abbrebiation"><i class="fa fa-home"></i></abbr><span class="label">Home</span></a></li>
        <li><a href="#/blog" data-label="Blog"><abbr title="Blog" class="abbrebiation"><i class="fa fa-blog"></i></abbr><span class="label">Blog</span></a></li>
        <li><a href="#/about" data-label="About"><abbr title="About" class="abbrebiation"><i class="fa fa-info-circle"></i> </abbr><span class="label">About</span></a></li>
        <li><a href="#/contact" data-label="Contact"><abbr title="Contact" class="abbrebiation"><i class="fa fa-envelope"></i> </abbr><span class="label">Contact</span></a></li>
    </ul>
    <input type="text" placeholder="Search...">

</aside>