:root {
    --primary-color: #4F46E5;
    --secondary-color: #EC4899;
    --background-color: #020617;
    --font-color: #FFFFFF;
    --grid-color: rgba(71, 85, 105, 0.15);
    --glow-color: rgba(236, 72, 153, 0.15);
}

[data-theme="light"] {
    --font-color: #000000;
    --primary-color: #4338CA;
    --secondary-color: #DB2777;
    --background-color: #bdeafc;
    --grid-color: rgba(148, 163, 184, 0.2); 
    --glow-color: rgba(79, 70, 229, 0.1);    
}

* {
    margin: 6px;
    padding: 0;
    box-sizing: border-box;
}

.body {
    min-height: 100vh;
    background-color: var(--background-color);
    background-image:
        linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px),
        radial-gradient(circle at 50% 60%, var(--glow-color) 0%, rgba(168, 85, 247, 0.05) 40%, transparent 70%);
    background-size: 40px 40px, 40px 40px, 100% 100%;
    background-attachment: fixed; 
    color: var(--font-color);
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    transition: background-color 0.4s ease, color 0.4s ease; 
}
#root {
    margin: 25dvh 0 15px 100px;
}
::-webkit-scrollbar {
    width: 8px;
    background: rgba(0, 0, 0, 0.925);
}
::-webkit-scrollbar-thumb {
    background: rgba(1, 98, 136, 0.479);
    border-radius: 4px;
}